.new-collections{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 100px;
}
.new-collections h1{
  color: #171717;
  font-size: 40px;
  font-weight: 600;
}
.new-collections hr{
  width: 200px;
  height: 4px;
  border-radius: 10px;
  background: #252525;
  margin: 0;
}
.collections{
  margin-top: 50px;
}

@media (max-width: 996px){
  
}
@media (max-width: 786px){
  .new-collections h1{
    font-size: 20px;
  }
  .collections{
    margin-top: 20px;
  }
  .new-collections{
    margin-bottom: 40px;
  }
}