.productdisplay{
  display: flex;
  margin: 0px auto;
  justify-content: center;
  width: 100%;
}
.productdisplay-left{
  display: flex;
  gap: 17px;
  justify-content: start;
  margin: 0px auto;
}
.productdisplay-img{
  width: 100%;
}
.productdisplay-img-list{
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.productdisplay-img-list img{
  height: 100px;
}
.productdisplay-main-img{
  width: 100%;
}
.productdisplay-right{
  margin: 0px;
  display: flex;
  flex-direction: column;
}
.productdisplay-right h1{
  color: #3d3d3d;
  font-size: 40px;
  font-weight: 700;
}
.productdisplay-right-stars{
  display: flex;
  align-items: center;
  margin-top: 13px;
  gap: 5px;
  color: #1c1c1c;
  font-size: 16px;
}
.productdisplay-right-prices{
  display: flex;
  margin: 40px 0px;
  gap: 30px;
  font-size: 24px;
  font-weight: 700;
}
.productdisplay-right-price-old{
  color: #818181;
  text-decoration: line-through;
}
.productdisplay-right-price-new{
  color: #ff4141;
}
.productdisplay-right-size h1{
  margin-top: 55px;
  color: #656565;
  font-size: 20px;
  font-weight: 600;
}
.productdisplay-right-sizes{
  display: flex;
  margin: 30px 0px;
  gap: 20px;
}
.productdisplay-right-sizes div{
  padding: 18px 24px;
  background-color: #fbfbfb;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  cursor: pointer;
}
.productdisplay-right button{
  padding: 20px 40px;
  width: fit-content;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background-color: #ff4141;
  margin-bottom: 40px;
  border: none;
  outline: none;
  cursor: pointer;
}
.productdisplay-right-category{
  margin-top: 10px;
}
.productdisplay-right-category span{
  font-weight: 600;
}
@media (min-width: 767px) and (max-width: 992px){
  .productdisplay-right h1{
    font-size: 25px;
  }
  .productdisplay-left{
    gap: 10px;
  }
}
@media (max-width: 767px){
  .productdisplay-left{
    display: flex;
    flex-direction: column;
  }
  .productdisplay-right{
    margin-top: 10px;
  }
  .productdisplay-img-list{
    display: flex;
    flex-direction: row;
  }
  .productdisplay-img-list img {
    height: 90px;
}
.productdisplay-right h1{
  font-size: 20px;
}
.productdisplay-right-prices{
  margin: 10px 0;
}
.productdisplay-right-price-old,
.productdisplay-right-price-new{
  font-size: 18px;
}
.productdisplay-right-description{
  font-size: 14px;
}
.productdisplay-right-size h1 {
  margin-top: 20px;
}
.productdisplay-right-sizes div{
  padding: 10px 17px;
}
.productdisplay-right button {
  padding: 14px 30px;
  width: fit-content;
  font-size: 14px;
  margin-bottom: 20px;
}
}